[theme~="dark"] {
    --lumo-base-color: #163535;
    --lumo-primary-color: #7ea094;
    --lumo-primary-text-color: #9EC8B9;
    --lumo-primary-color-10pct: #1B4242;
    --lumo-primary-color-50pct: #5C8374;
    --lumo-body-text-color: #9EC8B9;
}

.headline {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    background: -webkit-linear-gradient(120deg, #9affb0 30%, #41d1ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price-tracking-grid {
}
